@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
            <div class="card">
                <form class="md-form">
                    <div class="file-field">
                        <div class="btn btn-primary btn-sm float-left">
                            <span>Choose file</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload your file">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">

        </div>
    </div>
