@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mt-5">
            <div class="card p-5">
                <form class="md-form">
                    <div class="custom-file mb-5">
                        <input type="file" class="custom-file-input" />
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                    </div>

                        <input type="submit" value="Upload Files" class="btn btn-deep-orange"/>
                    
                </form>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">

        </div>
    </div>
